<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
       
        <title>Single Movie</title>

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <link href='http://fonts.googleapis.com/css?family=Share+Tech' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
<!--[if IE]>
<link rel="stylesheet" href="css/ie.css" type="text/css" />
<![endif]-->

        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
      <div class="wrap">
        <header>
        
        	<h1>
  <a href="index.html">
    <img src="img/greatvideologo.png" alt="Great Video" />
  </a>
</h1>
            <nav id="main_navigation">
            	<ul>
                	<li> <a href="index.html">HOME</a></li>
                  <li> <a href="dvd.html">DVD</a></li>
                  <li> <a href="blu-ray.html">BLU-RAY</a></li>
                  <li> <a href="stream.html">STREAM</a></li>
					<li> <a href="snacks.html">SNACKS</a></li>
               </ul>
             </nav>
            	<ul id="user_navigation">
                	<li> <a href="login.html">Login</a></li>
                  <li> <a href="register.html">Register</a></li>
                  <li> <a href="account.html">Account</a></li>
                  <li> <a href="cart.html">Cart</a></li>
               </ul>


         </header>
         	<article id="content">
            <section class="half" id="single">
            	<h2>MOVIE TITLE</h2>
        
                <img src="img/movie_large.jpg"/>
                <div class="third"><div id="description">
       			<p>Movie description goes here</p></div>
                <br />
                <p>rate:</p><div class="rating">
<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
</div><br /><br/>
                <li><a href="#"><a href="#"><span id="add">+ </span><span id="link">Add to Cart</span></a></li>
                <li><a href="#"><a href="#"><span id="add">+ </span><span id="link">Add to Wishlist</span></a></li>

                </div>
                <div class="third">
       			<p><strong>Actors:<br /><br />
                 Producers:<br /><br />
                 Length: <br /><br />
                 Format: <br /><br />
                 Tags: <br /><br />
                </strong></p>
                </div>
                </section>
          	<section class="half" id="reviews">
            <h2> REVIEWS </h2>
            	<div class="third">
            		<h3>Review 1</h3><div class="rating">
<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
</div><br /><br />
                    	<p>I loved it!</p>
                        </div>
               <div class="third">
            		<h3>Review 2</h3><div class="rating">
<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
</div><br /><br />
                    	<p>Meh</p>
                        </div>
                <div class="third">
            		<h3>Review 3</h3><div class="rating">
<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
</div><br /><br />
                    	<p>Worst. movie. ever.</p>
                        </div>
                <li><a href="#"><a href="#"><span id="add">+ </span><span id="link">Add a review</span></a></li>
           </article>
</div>
<footer>
</footer>
      
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

      
    </body>
</html>
