@{
    ViewBag.Title = "ViewPage1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <article id="content">
        <section class="half" id="left">
            <h2>SPECIALS</h2>
            <ul class="catalog">
                <li><a href="single_movie.html">
                    <img src="img/dvd_placeholder.jpg" class="small_movie" /></a><br />
                    <a href="#"><span id="add">+ </span><span id="link">Add to Cart</span></a></li>
            </ul>
        </section>
        <br />
        
    </article>

