@model IEnumerable <MvcVideoStoreProject.Models.Video>
@{
    ViewBag.Title = "Videos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>asd;lasdasdasd</h1>

    <article id="content">
        <section class="half" id="left">
            <h2>SPECIALS</h2>
            <ul class="catalog">
                <li><a href="single_movie.html">
                    <img src="img/dvd_placeholder.jpg" class="small_movie" /></a><br />
                    <a href="#"><span id="add">+ </span><span id="link">Add to Cart</span></a></li>
            </ul>
        </section>
        <br />
        <section class="half" id="right">
            <h2>RECOMMENDATIONS</h2>
            <ul class="catalog">
                <li><a href="single_movie.html">
                    <img src="img/dvd_placeholder.jpg" class="small_movie" /></a><br />
                    <a href="#"><span id="add">+ </span><span id="link">Add to Cart</span></a></li>

            </ul>
        </section>
    </article>


